In [3]:
name=input("please enter your name")
eng=int(input("please enter your English marks:"))
maths=int(input("please enter your Maths marks:"))
urdu=int(input("please enter your Urdu marks:"))

obtain = (eng + maths + urdu )
percent = obtain / 300* 100

if percent > 50 and percent < 100 :
    grade = "A1"


elif percent > 40 and percent < 50 :
    grade = "Pass"

elif percent >0 and percent < 40 :
    grade = "Fail"

else:
    grade = "value error"


print(f"{name} your obtained marks is {obtain} , your percentage is {percent}and yuour grade is {grade}")

please enter your name aiman
please enter your English marks: 56
please enter your Maths marks: 77
please enter your Urdu marks: 89

aiman your obtained marks is 222 , your percentage is 74.0and yuour grade is A1

In [21]:
tab=int(input("which number of table do you want :"))
num=int(input("how many times of table do you want:"))
for i in range (1,11):
    print(f"{tab} * {i} = {tab * i}")
else :
    print(" your table is finished")

which number of table do you want : 60
how many times of table do you want: 10

60 * 1 = 60
60 * 2 = 120
60 * 3 = 180
60 * 4 = 240
60 * 5 = 300
60 * 6 = 360
60 * 7 = 420
60 * 8 = 480
60 * 9 = 540
60 * 10 = 600
 your table is finished

In [25]:
# for even number
tab=int(input("which number of table do you want :"))
num=int(input("how many times of table do you want :"))
"2*1=2"
for i in range (1,num+1,2):
    print(f"{tab} * {i} = {tab * i }")

which number of table do you want : 2
how many times of table do you want : 10

2 * 1 = 2
2 * 3 = 6
2 * 5 = 10
2 * 7 = 14
2 * 9 = 18